---
layout: default
---

<!-- Jumbotron -->
<section class="jumbotron nova-header rounded-0 mw-100vw">
	<div class="container">
		<div class="row justify-content-center">
			<h1 class="nova-title text-center mb-5 col-12">NOVA</h1>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 col-12 text-center nova-desc">
				<p>NOVA (Neatly Organized Voxel API) is a modding framework for voxel games.</p>
				<p>It provides an abstraction that is easy to use and maintain while giving developers confidence that their work can be used across different voxel games and their versions.</p>
			</div>
		</div>
	</div>
</section>

<!-- Why Use NOVA? -->
<section class="nova-why-use">
	<div class="container">
		<div class="row justify-content-center">
			<h2 class="nova-title text-center mb-5 col-12">Why use NOVA</h2>
		</div>

		<div class="nova-slider">
			<div>
				<p>NOVA is a simple and flexible framework. It allows anyone to create their own game content more easily than ever.</p>
			</div>
			<div>
				<p>We create NOVA wrappers for new game versions and other games. You don't have to touch your mod when a new wrapper is released, it just works.</p>
			</div>
			<div>
				<p>NOVA is compatible with existing modding frameworks, including <a href="http://minecraftforge.net">Minecraft Forge</a>, and can interface with native mods.</p>
			</div>
			<div>
				<p>NOVA makes it easier than ever to test mods with the ability to create unit tests, something unheard of with other modding frameworks.</p>
			</div>
			<div>
				<p>NOVA is open. We use <a href="https://choosealicense.com/licenses/lgpl-3.0/">LGPLv3</a> to be sure that the API can be used by anyone without any legal issues. We also encourage everyone to contribute to the project.</p>
			</div>
			<div>
				<p>NOVA is abstract so it's mods may work for multiple games. Thanks to modular design of the API we can port it to almost any voxel game.</p>
			</div>
		</div>

		<div class="nova-slider-controls"></div>
	</div>
</section>

<!-- Downloads -->
<!-- Leave this here -->
<!-- Necessary because using a non-fixed navbar is way to much work for me -->
<br id="downloads">
<br>
<section class="jumbotron nova-downloads">
	<div class="container">
		<div class="row justify-content-center">
			<h2 class="nova-title text-center mb-5 col-auto mw-100vw">Downloads</h2>
		</div>
		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-10 col-12">
				<div class="alert alert-danger text-center" role="alert">
					Note that NOVA is still under <i>heavy</i> development. Some things may not be stable, others may change.
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-xl-4 col-lg-5 col-md-6">
				<p>NOVA consists of two parts, NovaCore and and the NOVA game wrappers. If you are a game user you probably want to get wrapper for your game.</p>
			</div>
			<div class="col-12 d-md-none mb-4">
				{% include index/btn-download.html type="mobile" %}
			</div>
			<div class="col-xl-4 col-lg-5 col-md-6">
				<p>If you are a mod developer you may want the mod template. You can get it here as a zip.</p>
				<p>
					See <a href="/docs/Mod%20Development/NOVA%20Gradle/" class="nova-link">NOVA Gradle</a> and
					<a href="/docs/Mod%20Development/Getting%20Started/" class="nova-link">Getting Started</a> on Nova Docs
				</p>
			</div>
			<div class="col-xl-8 col-lg-10 col-12 text-center">
				<div class="btn-group d-flex" role="group">
					{% include index/btn-download.html %}
					<a href="https://github.com/NOVA-Team/NOVA-Template/archive/master.zip" class="btn w-100 btn-lg btn-secondary text-white px-1">
						<i class="fa fa-download"></i> Download NOVA Mod Template
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
