/*
NOVA custom css
Author: Shadowfacts
*/

.nova-nav {
	background-color: #FFFFFF;
	border-style: solid;
	border-bottom: thick solid #E6E6E6;
}

.nova-header {
	padding-top: 200px;
	padding-bottom: 100px;
	margin-bottom: 0px;
}

.nova-desc {
	font-size: 25px;
}

.nova-downloads {
	margin-bottom: 0px;

	background-color: #FAFAFA;

	.nova-core {
		color: #2C3E50;
	}

	.nova-title {
		color: #555;
	}
}

.nova-bumper {
	padding-top: 64px;
}

.nova-link {
	color: #18BC9C !important;
}

.nova-dropdown-menu {
	text-align: left;
}