<div class="btn-group w-100 {% unless include.type == 'mobile' %}d-none d-md-flex{% endunless %} nova-btn-download">
	<span class="btn btn-block btn-lg btn-success px-1 dropdown-toggle disabled">
		<a href="https://github.com/NOVA-Team/NOVA-Core/issues/207" class="badge badge-warning">N/A</a>
		Download game wrapper
	</span>
	<div class="dropdown-menu nova-dropdown-menu" role="menu">
		<button class="dropdown-item nova-dl-main" disabled>
			<i class="fa fa-download"></i> Minecraft 1.7.10 0.1.0-SNAPSHOT
		</button>
		<button class="dropdown-item nova-dl-main" disabled>
			<i class="fa fa-download"></i> Minecraft 1.8 0.1.0-SNAPSHOT
		</button>
	</div>
</div>
